service cloud.firestore {

  function loggedIn() {
    return request.auth.uid != null;
  }

  match /databases/{database}/documents {

    match /evenementen/{evenement} {
      allow read: if loggedIn();
      allow write: if false;
    }

  }
}
